{
	"presets": [
		[ "env", {
			"targets": {
				"node": "current"
			},
			"exclude": [
				"babel-plugin-transform-es2015-classes"
			]
			} ]
		],
		"plugins": [
			"babel-plugin-transform-class-properties"
		]
	}
